@import "normalize.css";

@darkOrange: rgb(217, 93, 48);
@orange: rgb(217, 128, 50);
@lightOrange: rgb(242, 169, 80);
@tan: rgb(242, 227, 179);
@oliveDrab: rgb(115, 108, 72);

html {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: red;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;

    h1, h2 {
        font-size: 50px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 0;
        text-align: center;
    }

    h2 {
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 0.125em;
    }
}

article {
    background-color: rgb(217, 93, 48);
    min-height: 100%;

    header {
        background-image: linear-gradient(bottom, @lightOrange 16%, @orange 58%);
        background-image: -o-linear-gradient(bottom, rgb(217,128,50) 16%, rgb(217,93,48) 58%);
        background-image: -moz-linear-gradient(bottom, @lightOrange 0%, @orange 100%);
        background-image: -webkit-linear-gradient(bottom, rgb(217,128,50) 16%, rgb(217,93,48) 58%);
        background-image: -ms-linear-gradient(bottom, rgb(217,128,50) 16%, rgb(217,93,48) 58%);

        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.16, rgb(217,128,50)),
            color-stop(0.58, rgb(217,93,48))
        );
        padding: 50px 0;
    }

    section {
        &.cheesy {
            background-color: yellow;
        }
        &.followup {
            background-color: green;
        }
    }
}

.slim {
    margin: 0 auto;
    width: 800px;
}

.cheesy {
    .slim {
        color: #000;
        height: 200px;
    }
    border: 1px solid #ccc;
    border-width: 1px 0;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 44px;
    font-weight: 100;
    letter-spacing: 0.125em;
    padding: 50px 0;
    text-align: center;
}
