@import "normalize.css";
html{height:100%;min-height:100%;padding:0;margin:0;}
body{color:#d05c08;}body h1,body h2{font-weight:normal;line-height:1;margin:0;text-align:center;}
body h1{font-family:"bello-pro",cursive;font-size:75px;text-shadow:2px 2px 1px #efee8f;}
body h2{color:#efee8f;font-family:"reklame-script";font-size:25px;letter-spacing:0.125em;text-shadow:none;}
article{min-height:100%;position:relative;}article header{padding:50px 0 0;}article header .slim{width:1100px;}
article section.followup .slim{height:325px;left:50%;margin-left:-300px;position:absolute;overflow:auto;top:200px;width:600px;}article section.followup .slim p{color:#fff;}
article section.followup .slim a{color:#efee8f;}
article section.followup .slim dt{color:#efee8f;font-weight:bold;margin-top:1em;}article section.followup .slim dt:first-child{margin-top:0;}
article section.followup .slim dd ul{list-style:square inside;padding-left:0;}article section.followup .slim dd ul li{font-size:1.5em;}article section.followup .slim dd ul li a{font-size:16px;}
article section.followup .slim h3{color:#efee8f;font-family:"reklame-script";font-weight:normal;line-height:2;margin:0;text-align:center;}
article section.followup .slim small{display:block;margin-bottom:20px;text-align:center;}
.slim{margin:0 auto;width:800px;}
